Source: kmod-DEBIAN_PACKAGE
Section: misc
Priority: optional
Maintainer: Dynamic Kernel Modules Support Team <pkg-dkms-maint@lists.alioth.debian.org>
Build-Depends: debhelper (>= 7), dkms
Standards-Version: 3.8.1

Package: kmod-DEBIAN_PACKAGE
Architecture: any
Depends: ${misc:Depends}
Description: Linux kernel driver for DEBIAN_PACKAGE.
